body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth; /* Smooth scrolling */
}

.content {
    padding: 20px;
}

.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;
}

.footer-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.footer-separator {
    margin: 0 5px;
    color: #fff;
}

/* Back to Top Button */
#backToTop {
    margin-top: 20px;
    display: none;
    font-size: 14px;
}